<h3>Leilão de {{produto.anunciante}}</h3>
<h3>Produto: {{produto.produto}}</h3>
<h5>Valor inicial: R$ {{produto.valorInicial}}</h5>
<ng-container *ngFor="let l of lancamentos">
<div *ngIf="l.nomeProduto == produto.produto">
  <label>Lancamento de {{l.nomeComprador}}</label>
  <br>
  <label>Valor lançado: R$ {{l.valor}}</label>
</div>
</ng-container>
<br>
<h4>Faça o seu lançamento: </h4>
<label>Seu nome:</label>
<input type="text" [(ngModel)]="lancamento.nomeComprador">
<br>
<label>Valor lancamento:</label>
<input type="text" [(ngModel)]="lancamento.valor">
<br>
<button (click)="fazerLancamento()">Lançar</button>
<br>
<br>
<br>
<br>


